.product-main{
    display: grid;
    grid-template-columns: 25rem 1fr;
}

.products{
    overflow: hidden;
    padding: var(--margin-medium)
}

.product--cards .card{
    width: 25rem;
    margin: var(--margin-medium);
}

.product--cards .card__actions,  .product--cards .card__actions--buttons{
    width: 100%;
}

.product--cards .btn {
    width: 100%;
}

.filters{
    position: sticky;
    background-color: #ffffff;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filters__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__section{
    border-bottom: 1px solid var(--clr-grey);
    padding: var(--padding-medium)
}

.filter__section--end{
    border: none;
    padding-bottom: 0;
}

.filter__section h3{
    margin-bottom: var(--margin-medium);
}

.filter__view{
    display: none;
}

@media only screen and (max-width: 800px){
    .product--cards .card{
        width: 20rem;
        margin: var(--margin-medium);
    }
}

@media only screen and (max-width: 600px){
    .product-main{
        display: grid;
        grid-template-columns: 1fr;
    }

    .filters{
        display: none;
        position: relative;
        height: auto;
    }

    .display-filters{
        display: block;
    }

    .filter__view{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-grey);
        padding: var(--padding-medium)
    }

    .card__actions .view{
        display: none;
    }

    .card__actions .remove{
        font-size: 1.25rem;
        width: 100%;
        margin-right: 0;
    }

    .card__actions--buttons {
        width: 100%;
    }

    .card__actions .cart{
       width: 100%;
       margin-right: 0;
       font-size: 1.25rem;
    }

    .product--cards .card{
        width: 45%;
        margin: var(--margin-small);
    }

    .products{
        overflow: hidden;
        padding: 0;
    }

    .container--90{
        max-width: 100%;
    }

    .card__actions--icons .remove{
        display: none;
    }
}