@import "navbar.css";
@import "product-listing.css";
@import "auth.css";
@import "checkout.css";
@import "single-product.css";

#shop{
    background: #8e9eab;
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
    background: linear-gradient(to bottom, #eef2f3, #8e9eab); 
    height: 30vh;
}

.category--container{
    max-width: 80%;
    padding: var(--padding-large);
    margin: auto;
}

.category--card{
    position: relative;
    max-height: 25rem;
    max-width: 25rem;
    cursor: pointer;
    margin: var(--margin-medium);
}

.category--title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category--card:hover{
    transform: scale(1.1);
}

.category--card:hover img{
    opacity: 0.7;
}

.footer__container{
    background-color: var(--clr-dark-grey);
    color: var(--text-clr-secondary);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__icons i{
    font-size: var(--text-large);
    margin: 0 var(--margin-medium);
    color: #ffffff;
}

.footer__icons i:hover{
    cursor: pointer;
    font-size: 2.6rem;
    
}

.drawer__container{
    background-color: #ffffff;
    height: 100vh;
    top:0;
    left: -25rem;
    max-width: 25rem;
    border-right: 1px solid var(--clr-dark-grey);
    position: fixed;
    z-index: 2;
}

.drawer__heading{
    font-family: var(--font-family-secondary);
    color: var(--clr-secondary);
}

.drawer__container .navbar__title{
    margin-left: var(--margin-medium);
    margin-right: var(--margin-large);
}

.drawer__container .drawer__clear{
    margin-left: var(--margin-medium);
}

.mobile__search__container{
    display: none;
}



@media only screen and (max-width: 800px){
    .container--80{
        max-width: 100%;
    }

    .mobile__search__container{
        display: flex;
        align-items: center;
        padding: var(--padding-small)
    }

    .mobile__search__container{
        flex-grow: 1;
        border-bottom: 1px solid var(--clr-dark-grey);
    }

}

@media only screen and (max-width: 600px){

    .navbar__container--plain .navbar__menu{
        display: flex;
        align-items: center;
    }

    .navbar__title--mobile{
        margin-left: var(--margin-large);
        color: var(--clr-secondary);
        font-family: var(--font-family-secondary);
    }
    
    .shop__description{
        display: none;
    }

    .shop__title{
        font-size: var(--text-large);
    }

    .drawer__position-right{
        left: 0;
    }
    
    .category--container{
        max-width: 100%;
        padding: var(--padding-small);
    }

    .category--card{
        max-height: 15rem;
        width: calc(50% - 1rem);
        margin: var(--margin-small)
    }

    .category--title{
        font-size: var(--text-medium);
    }

    .container--80{
        max-width: 100%;
    }
}